!!!
%html{"ng-app" => "myApp", "ng-controller" => "ApplicationController"}
  %head
    %title Estimateit
    
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Abril+Fatface"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,800,700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:900'
    = javascript_include_tag "application"
    = javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js'
    = csrf_meta_tags
  %body
    .github-fork-ribbon-wrapper.right
      .github-fork-ribbon
        %a{:href => "https://github.com/Dolmio/estimate-it"} Fork me on GitHub
        
    .container{"ng-controller" => "UsersController"}
      %h1 Planning Poker
      .row
        .span7
          - @items = ["0","1","2","3","5","8","12","50","?"]
      
          - for i in 0..2
            - @multiplier = i * 3
            .row
              - for j in 0..2
                - @value = @items[@multiplier + j]
                .btn.btn-custom.card{ "ng-class"=>"{active: me.estimation == '#{@value}'}", "ng-click"=>"change_my_estimation('#{@value}')"} #{@value}
      
          
          .btn.btn-custom.btn-large.clear-btn{"ng-class"=> "{disabled: !everyone_ready()}", "ng-click" =>"clear_everybody_if_everyone_ready()"} Clear estimations
        .span2  
          %h4 Others:        
          .user_list
            .user_element.btn-custom.disabled{"ng-repeat" => "user in users"} 
              %i.icon-ok-sign.user-icon{"ng-show" => "selected_user_and_waiting_for_others(user)"}
              %i.icon-question-sign.user-icon{"ng-show" => "user.estimation == undefined"}
              %p{"ng-show" => "everyone_ready()"} {{user.estimation}}
        .span3
          .div{"ng-controller" => "ChatController"}
            .chat-box
              %div{"ng-repeat" => "message in messages", "scroll-down" => "messages"}
                .message 
                  %span {{message.author}}:
                  %span {{message.data}}
            %form{"name" => "chatForm"}
              .input-append
                %input{"type" =>"text", "name" => "message" , "placeholder" =>'message', "ng-model"=>"message.data", "required" => true}
                %button.btn{"type" =>"submit",  "ng-disabled" => "chatForm.$invalid", "ng-click" => "addMessage(message.data)"}Send
              %input#chat-name{"type" =>"text", "required" => true , "placeholder" =>'Nickname', "ng-model"=>"current_user.name"}
        
      
        