!!!
%html{"ng-app" => "myApp"}
  %head
    %title Estimateit
    
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Abril+Fatface"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,800,700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:900'
    = javascript_include_tag "application"
    = javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js'
    = csrf_meta_tags
  %body
    
    .container{"ng-controller" => "UsersController"}
      %h1 Planning Poker
      - @items = ["0","1","2","3","5","8","12","50","?"]
      
      - for i in 0..2
        - @multiplier = i * 3
        .row
          - for j in 0..2
            - @value = @items[@multiplier + j]
            .btn.btn-custom.span3.offset3{ "ng-class"=>"{active: me.estimation == '#{@value}'}", "ng-click"=>"change_estimation('#{@value}')"} #{@value}
      
      .btn-group
        .btn.btn-custom.btn-large{"ng-class"=> "{disabled: !everyone_ready()}", "ng-click" =>"clear_everybody_if_ready()"} Clear estimations
      %h2 Other users at the same url:        
      %ul.user_list
        .user_element.btn-custom.disabled{"ng-repeat" => "user in users"} 
          %i.icon-ok-sign.user-icon{"ng-show" => "selected_user_and_waiting_for_others(user)"}
          %i.icon-question-sign.user-icon{"ng-show" => "user.estimation == undefined"}
          %p{"ng-show" => "everyone_ready()"} {{user.estimation}}
            
          
      
        