!!!
%html{"ng-app" => "myApp"}
  %head
    %title Estimateit
    
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Abril+Fatface"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,800,700'
    = javascript_include_tag "application"
    = javascript_include_tag 'https://cdn.firebase.com/v0/firebase.js'
    = csrf_meta_tags
  %body
    
    .container{"ng-controller" => "UsersController", "data-toggle"=>"buttons-radio"}
      %h1 Planning Poker
      - @items = ["0","1","2","3","5","8","12","50","?"]
      
      - for i in 0..2
        - @multiplier = i * 3
        .row
          - for j in 0..2
            - @value = @items[@multiplier + j]
            .btn.btn-custom.span3.offset3{ "ng-class"=>"{selected: me.estimation == '#{@value}'}", "ng-click"=>"change_estimation('#{@value}')"} #{@value}
      .btn-toolbar
        .btn-group
          .btn.btn-custom.btn-large Copy url
        .btn-group
          .btn.btn-custom.btn-large Clear everybody
      %h2 Other users:        
      %ul.user_list
        %li.span2.user_element{"ng-repeat" => "user in users"} 
          %i.icon-ok{"ng-show" => "selected_user_and_waiting_for_others(user)"}
          %i.icon-question-sign{"ng-show" => "user.estimation == undefined"}
          %p{"ng-show" => "everyone_ready()"} {{user.estimation}}
            
          
      
        